**/*.png
**/*.svg
**/*.ico
package.json
lib/
es/
dist/
.next/
.github/
coverage/
LICENSE
yarn.lock
yarn-error.log
*.sh
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
